@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 70px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.content-container {
    position: relative;
    background-color: #a4b7db;
    margin: 10px 30px;
    border-radius: 5px;
    padding: 15px;
    color: #000000;
}

.remove {
    font-weight: 900;
    color: red;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

#load-quiz,
#submit-quiz {
    display: none;
}

.content-container input[type="text"] {
    width: 70%;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.content-container button {
    margin-top: 10px;
}

.bottom-buttons {
    display: flex;
    margin: 10px 30px;
    justify-content: space-between;
}

.bottom-buttons button {
    background-color: #007bff;
    color: white;
    height: 50px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-buttons button:disabled {
    background-color: #9b9b9b;
    cursor: default;
}

questionP {
    margin-top: 35px;
    font-size: 20px;
    margin-bottom: 5px;
}

.questionP:first-child {
    margin-top: 10px;
}

.question {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 30px;
    background-color: #a4b7db;
    padding: 10px;
    border: solid 3px #c2060000;
}

.question input[type="text"] {
    height: 25px;
    font-size: 16px;
    width: 80%;
}

@media screen and (max-width: 500px) {
    .bottom-buttons {
        display: flex;
        flex-direction: column;
    }
    .bottom-buttons button {
        margin-bottom: 5px;
    }

    .content-container input[type="text"] {
        width: 95%;
    }
}
